PORT=8000
MONGODB_URI=mongodb+srv://Zeeshan:Zeeshan123@zeeshan.fkqs3wj.mongodb.net/?appName=Zeeshan
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=tNdDNtoJX-5n3DmVkx8MCFRSLD9cv1kBfLwK7fdO

ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=gy03UtN1kBfLRn3Dmkx8MCFRSLHVTUkcyqgZAK7fdO

REFRESH_TOKEN_EXPIRY=10d 